
@{
    ViewBag.Title = "FormLogin";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>FormLogin</h2>
<div class="col-md-offset-2 col-md-6">
    <a href="~/User/Login" class="btn btn-default">Login</a>
</div>
<div class="col-md-offset-2 col-md-6">
    <a href="~/User/Register" class="btn btn-default">Register</a>
</div>
